.popup__submit {
  min-height: 50px;
  background: #000000;
  border-radius: 2px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  transition: opacity 0.6s;
  border: none;
}

.popup__submit:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .popup__submit {
    font-size: 14px;
    line-height: 17px;
  }
}
